* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fondo_oscuro {
  background-color: black;
}

.link_header {
  color: white;
  font-weight: bold;
}

p {
  color: rgb(217, 227, 235);
}

.card {
  margin: 20px 30px;
  border-radius: 10px;
}

h3 {
  color:aliceblue;
}